Sphinx==8.2.3
Pillow
sphinx-autobuild
doc8
rstcheck
#rst-lint
esbonio
docutils
sphinx-copybutton
sphinx-notfound-page
sphinxnotes-strike
sphinx-cjkspace
sphinxcontrib-mermaid
sphinxcontrib-kroki
sphinx-rtd-theme
sphinx-tags
